@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;1,200&display=swap");

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

/* TEXT */
body {
  background-color: rgb(242, 242, 242);
}

p,
td,
a,
label {
  font-size: 12px;
  font-weight: 500;
}

.small {
  font-family: "Roboto", sans-serif;
  font-size: 80%;
  font-weight: 400;
}

.smallxs {
  font-family: "Roboto", sans-serif;
  font-size: 70%;
  font-weight: 400;
}

.smallxxs {
  font-size: 8px;
  margin-top: 1px;
}

/* BOX och KNAPPAR */

.menugroup {
  margin: 15px;
  padding: 20px;
  border-radius: 9px;
}

.menugroupcaption {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
}

.menuitem {
  border-radius: 50% !important;
  width: 65px;
  height: 65px;
  transition: 0.5s;
}

.menuitem:hover {
  background-color: rgb(185, 190, 199);
  transition: 0.2s ease-in-out;
}

.menuitemicon {
  font-size: 20px;
  margin-top: 3px;
}

.menuitemtext {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1px;
}

/* light-theme */
.menugroup {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
}

.menuitem {
  background-color: rgb(242, 242, 242); /*light-grey*/
}

/*
  iconColors for alla themes*/
.ared {
  color: rgb(165, 38, 44); /*red*/
}

.aredBackground {
  background: rgb(165, 38, 44); /*red*/
}

.aredXS {
  color: rgb(165, 38, 44); /*red*/
  font-size: 14px;
}

.aredXL {
  color: rgb(165, 38, 44); /*red*/
  font-size: 24px;
}

.aorange {
  color: #ca5010; /*orange*/
}

.aorangeBackground {
  background: #ca5010; /*orange*/
}

.agreenXL {
  color: #407855; /*green*/
  font-size: 24px;
}

.agreen {
  color: #407855; /*green*/
}

.agreenBackground {
  background: #407855; /*green*/
}

.agreenXS {
  color: #407855; /*green*/
  font-size: 14px;
}

.abrightblueXL {
  color: #0078d4; /*bright blue*/
  font-size: 24px;
}

.abrightblue {
  color: #0078d4; /*bright blue*/
}

.abrightblueBackground {
  background: #0078d4; /*bright blue*/
}

.amiddleblue {
  color: #4052ab; /*middle blue*/
}

.amiddleblueBackground {
  background: #4052ab; /*middle blue*/
}

.amiddleblueXS {
  color: #4052ab; /*middle blue*/
  font-size: 14px;
}

.adarkblue {
  color: rgb(29, 53, 87); /*dark blue*/
}

.adarkbluebackground {
  background: rgb(29, 53, 87); /*dark blue*/
}

.agold {
  color: #9c8321; /*gold*/
}

.agoldBackground {
  background: #9c8321; /*gold*/
}

.agoldXS {
  color: #9c8321; /*gold*/
  font-size: 14px;
}

.agoldXL {
  color: #9c8321; /*gold*/
  font-size: 24px;
}

.agrey {
  border-color: rgb(185, 190, 199); /* Hovergrey */
  color: rgb(185, 190, 199); /* Hovergrey */
}

.ateal {
  color: #038387;
}

.atealBackground {
  background: #038387;
}

.apurple {
  color: rgb(133, 64, 133); /*purple*/
}

.apurpleBackground {
  background: rgb(133, 64, 133); /*purple*/
}

/*lab 1*/

.menugroupcaption {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
}

.menugroupbuttons a {
  margin: 0.4rem;
  font-size: 14px;
}

.doubleBooking > input {
  transform: scale(2);
  margin: 0 0.5em;
}

/* Style  Css från TW-Inspekt */

.modal-header {
  background: #1d3557;
  color: #fff;
}

.menuitemSm {
  height: 41px;
  width: 41px;
}

.pagesubheader {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.seasonplan .menugroup {
  border-radius: 9px;
  margin: 0;
  padding: 20px;
}

mp-0 {
  padding: 0;
  margin: 0;
}



/*My addon styles*/

.backgroundGrey {
    background-color: rgb(242, 242, 242);
}

thead th {
    background-color: rgb(242, 242, 242);
}
.table th,
.table td {
    /*Remove some padding got big border no padding needed*/
    /*border: none;*/ /*Removes Bootstrap grey Border*/
    padding: 0px;
}

th {
    border: none !important;
}

tbody td {
    /*Align Icons in the middle ov td element*/
    text-align: center;
    border: 7px solid rgb(242, 242, 242);
    border-collapse: collapse;
}
tbody th /*Elements with buttons to push :)*/ {
    /*    background-color: rgb(242, 242, 242); And Uncomment last Th TableHead to make Grey backgrounds
*/ vertical-align: middle !important; /*Overrides bootstrap*/
   width: 50px;
}

td button {
  padding: 0px !important; /*Overrides the bootstrap padding*/
}

button p /*Changeing the layout of the text can also specify size lineheight etc*/ {
  text-align: left !important;
}

td i {
  color: rgba(189, 189, 189, 0.918);
}

.up i {
  transform: rotate(180deg);
}
/*Inline style in template ActContainer with overflow x-auto works to manage max-width  in a responsive way. making it scrollable incase of wide cells*/


.ql-tooltip {
    left: 0 !important; /*Fixed issue of not showing link etc*/
}

/*td * {
    pointer-events: none;
}*/

/*Width or height on Picture Container decides the size this responsive aswell*/
.pictureCont > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
/*Css trick to hide img if empty src*/
img[src=""] 
{
    display: none;
}

.image-scen 
{
    min-width: 250px; /*Setting min-width on image Max is set on table header for image with w-25 boostrap*/

}

